
body {
/*    background-color: lightgrey;*/
    background-image: url(../img/map.jpg);
}

#screen {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
/*    color: yellow;*/
    font-size: 150px;
/*    text-shadow: 20px 20px darkgrey;*/
    text-align: center;
    margin-top: 200px;
}